.header ul{
    list-style-type: none;
    border: 1px solid;
    background-color: #FFFFFF;
    overflow: auto;
    margin: 0;
    padding: 12px;
}
.header li {
    float: left;
}
.header li:last-child {
    float: right;
}
.header li > a {
    display: inline-block;
    text-align: center;
    color: #242424;
    text-decoration: none;
    padding: 12px;
}
.header li > a.active{
    color:#FFFFFF;
    background-color: aquamarine;
}
.header li > a:hover:not(.active){
    color: green;
}

/* footer style */
.header .dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0, 0.2);
    z-index: 2;
}
.header .dropdown:hover .dropdown_content{
    display: block;
}
.header .dropdown_content > a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
}
.header .dropdown_content > a:hover{
    background-color: lightseagreen;
    color:wheat;
}
/* 로그인 하위 메뉴 스타일 */
.header .dropdown_content > input {
    width: 100px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 30px;
}
/* 바닥 */
.footer {
    color: blue;
    clear: both;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: small;
}